<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Conquest</title>
</head>
<body class="catalog__body">
    <div class="container">
        <header class="header header--index">
            <nav class="navigation">
                <div class="navigation--left">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.svg" alt="Логотип" width="104" height="26">
                    </a>
                </div>
                <div class="burger-menu" id="burger-menu" style="display: none">
                        <button class="burger-menu__btn" id="burger-menu__btn">
                            <span class="burger-menu__line"></span>
                            <span class="burger-menu__line"></span>
                            <span class="burger-menu__line"></span>
                        </button>
                        <nav class="burger-menu__nav">
                            <ul class="burger-menu__list" id="burger-menu__list">
                                <li class="burger-menu__item">
                                    <a href="catalog.html" class="burger-menu__link">Каталог</a> 
                                </li>
                                <li class="burger-menu__item">
                                    <a href="#" class="burger-menu__link">Акции</a> 
                                </li>
                                <li class="burger-menu__item">
                                    <a href="#" class="burger-menu__link">Доставка</a> 
                                </li>
                                <li class="burger-menu__item">
                                    <a href="#" class="burger-menu__link">Контакты</a> 
                                </li>
                            </ul>
                        </nav>
                    </div>
                <div class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="catalog.html" class="menu__link">Каталог</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Акции</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Доставка</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="user-menu">
                    <ul class="user-menu__list">
                        <li class="user-menu__item">
                            <a href="#" class="user-menu__link"><span class="visually-hidden">Поиск</span>
                                <img src="../img/search.svg" alt="Поиск" class="user-menu__icon" width="16" height="16">
                            </a>    
                        </li>
                        <li class="user-menu__item">
                            <a href="#" class="user-menu__link"><span class="visually-hidden">Избранное</span>
                                <img src="../img/favorite.svg" alt="Избранное" class="user-menu__icon" width="19" height="16">
                            </a>    
                        </li>
                        <li class="user-menu__item">
                            <a href="#" class="user-menu__link"><span class="visually-hidden">Корзина</span>
                                <img src="../img/basket.svg" alt="Корзина" class="user-menu__icon" width="18" height="16">
                            </a>    
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="card__main">
            <h1 class="visually-hidden">Карточка товара Conquest</h1>
            <div class="pages">
                <ul class="pages__list">
                    <li class="pages__item">
                        <a href="index.html" class="pages__link">Главная</a>
                    </li>
                    <li class="pages__item">
                        <a href="catalog.html" class="pages__link">Каталог</a>
                    </li>
                    <li class="pages__item">
                        <a href="#" class="pages__link">Мужские часы</a>
                    </li>
                    <li class="pages__item">
                        <a href="#" class="pages__link">Georg Jensen</a>
                    </li>
                </ul>
            </div>

            <section class="card-item">
                <div class="gallery" id="gallery">
                    <div class="gallery__main-item" id="gallery__main-item">
                        <img  src="/img/gallery_watches_1.jpg" alt="" width="525" height="500" id="gallery__main-img">
                    </div>
                    <ul class="gallery__list" id="gallery__list">
                        <li class="gallery__item"><img src="/img/gallery_watches_1.jpg" alt="" class="gallery__img"></li>
                        <li class="gallery__item"><img src="/img/gallery_watches_2.jpg" alt="" class="gallery__img"></li>
                        <li class="gallery__item"><img src="/img/gallery_watches_3.jpg" alt="" class="gallery__img"></li>
                        <li class="gallery__item"><img src="/img/gallery_watches_4.jpg" alt="" class="gallery__img"></li>
                    </ul>
                </div>
                <div class="card-item__characteristics">
                    <h2 class="card-item__title">Kulte, 26 мм</h2>
                    <span class="price card-item__price">12 700</span>

                    <div class="characteristics__articles">
                        <div class="characteristics__titles">
                            <h4 class="characteristics__title">Описание</h4>
                            <h4 class="characteristics__title">Технические характеристики</h4>
                        </div>
                        <div class="discription characteristics__article">
                            <p class="discription__text">
                                Наручные часы KULTE, разработанные датским дизайнером 
                                Хэннингом Коппелем, были выпущены в 1982 году. Они были 
                                встречены аплодисментами, а дизайн считался революционным.
                            </p>
                            <p class="discription__text">
                                Общая эстетика минималистична, а острые, плавные линии 
                                корпуса стали легендарными. Механизм Swiss Made обеспечивает 
                                высокий уровень технических характеристик.
                            </p>
                            <p class="discription__text">
                                Наручные часы KULTE — это образец датского дизайнерского 
                                наследия, история баланса и точности как внутри, так и снаружи.
                            </p>
                        </div>
                    </div>
                    <button class="btn characteristics__btn">В корзину</button>
                </div>
            </section>
            <section class="viewed">
                <h2 class="title viewed__title">Вы смотрели</h2>
                <ul class="viewed__list">
                    <li class="viewed__item">
                        <div class="viewed__characteristics">
                            <h3 class="viewed__item-title">Techne</h3>
                            <span class="price viewed__price">15 700</span>
                        </div>
                        <ul class="viewed__menu">
                            <li class="viewed__menu-item">
                                <a href="#" class="viewed__link">
                                    <img src="../img/favorite.svg" alt="Избранное" class="viewed__favorite" width="18" height="16">
                                </a>
                            </li>
                            <li class="viewed__menu-item">
                                <a href="#" class="viewed__link">
                                    <img src="../img/basket.svg" alt="Корзина" class="viewed__basket" width="18" height="16">
                                </a>
                            </li>
                        </ul>
                        <img src="../img/catalog_watch_1.png" alt="" class="viewed__img">
                    </li>
                    <li class="viewed__item">
                        <div class="viewed__characteristics">
                            <h3 class="viewed__item-title">Techne</h3>
                            <span class="price viewed__price">15 700</span>
                        </div>
                        <ul class="viewed__menu">
                            <li class="viewed__menu-item">
                                <a href="#" class="viewed__link">
                                    <img src="../img/favorite.svg" alt="Избранное" class="viewed__favorite" width="18" height="16">
                                </a>
                            </li>
                            <li class="viewed__menu-item">
                                <a href="#" class="viewed__link">
                                    <img src="../img/basket.svg" alt="Корзина" class="viewed__basket" width="18" height="16">
                                </a>
                            </li>
                        </ul>
                        <img src="../img/catalog_watch_1.png" alt="" class="viewed__img">
                    </li>
                    <li class="viewed__item">
                        <div class="viewed__characteristics">
                            <h3 class="viewed__item-title">Techne</h3>
                            <span class="price viewed__price">15 700</span>
                        </div>
                        <ul class="viewed__menu">
                            <li class="viewed__menu-item">
                                <a href="#" class="viewed__link">
                                    <img src="../img/favorite.svg" alt="Избранное" class="viewed__favorite" width="18" height="16">
                                </a>
                            </li>
                            <li class="viewed__menu-item">
                                <a href="#" class="viewed__link">
                                    <img src="../img/basket.svg" alt="Корзина" class="viewed__basket" width="18" height="16">
                                </a>
                            </li>
                        </ul>
                        <img src="../img/catalog_watch_1.png" alt="" class="viewed__img">
                    </li>
                </ul>
            </section>
        </main>
    </div>
    <footer class="footer">
        <div class="footer-wrapper">
            <section class="contacts footer__block">
                <h3 class="visually-hidden">Контакты</h3>
                <ul class="contacts__list footer__list">
                    <li class="contacts__item footer__item">
                        <a href="index.html" class="logo">
                            <img src="../img/logo.svg" alt="Логотип" width="104" height="26">
                        </a>
                    </li>
                    <li class="contacts__item footer__item">
                        <a href="tel:84994504797" class="contacts__link footer__link">8 (499) 450-47-97</a>
                    </li>
                    <li class="contacts__item footer__item">
                        <a href="mailto:info@conquest.watch.ru" class="contacts__link footer__link">info@conquest.watch.ru</a>
                    </li>
                </ul>
            </section>
            <section class="about-company footer__block">
                <h3 class="about-company__title footer__title">О компании</h3>
                <ul class="about-company__list footer__list">
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Наши магазины</a>
                    </li>
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Вакансии</a>
                    </li>
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Сертификаты</a>
                    </li>
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Отзывы</a>
                    </li>
                </ul>
            </section>
            <section class="for-buyers footer__block">
                <h3 class="for-buyers__title footer__title">Покупателям</h3>
                <ul class="for-buyers__list footer__list">
                    <li class="for-buyers__item footer__item">
                        <a href="catalog.html" class="for-buyers__link footer__link">Каталог товаров</a>
                    </li>
                    <li class="for-buyers__item footer__item">
                        <a href="#" class="for-buyers__link footer__link">Как заказать?</a>
                    </li>
                    <li class="for-buyers__item footer__item">
                        <a href="#" class="for-buyers__link footer__link">FAQ</a>
                    </li>
                    <li class="for-buyers__item footer__item">
                        <a href="#" class="for-buyers__link footer__link">Корпоративным клиентам</a>
                    </li>
                </ul>
            </section>
            <section class="payment-and-delivery footer__block">
                <h3 class="payment-and-delivery__title footer__title">Оплата и доставка</h3>
                <ul class="payment-and-delivery__list footer__list">
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Способы оплаты</a>
                    </li>
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Время доставки</a>
                    </li>
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Гарантии и ремонт</a>
                    </li>
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Возврат и компенсация</a>
                    </li>
                </ul>
            </section>
        </div>
    </footer>
    <script src="../js/index.js"></script>
</body>
</html>