<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prata&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Conquest</title>
</head>
<body>
    <div class="container">
        <header class="header header--index">
            <nav class="navigation">
                <div class="navigation--left">
                    <div class="burger-menu" id="burger-menu">
                        <button class="burger-menu__btn" id="burger-menu__btn">
                            <span class="burger-menu__line"></span>
                            <span class="burger-menu__line"></span>
                            <span class="burger-menu__line"></span>
                        </button>
                        <nav class="burger-menu__nav">
                            <ul class="burger-menu__list" id="burger-menu__list">
                                <li class="burger-menu__item">
                                    <a href="catalog.html" class="burger-menu__link">Каталог</a> 
                                </li>
                                <li class="burger-menu__item">
                                    <a href="#" class="burger-menu__link">Акции</a> 
                                </li>
                                <li class="burger-menu__item">
                                    <a href="#" class="burger-menu__link">Доставка</a> 
                                </li>
                                <li class="burger-menu__item">
                                    <a href="#" class="burger-menu__link">Контакты</a> 
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <a href="#" class="logo">
                        <img src="../img/logo.svg" alt="Логотип" width="104" height="26">
                    </a>
                </div>
                <div class="user-menu">
                    <ul class="user-menu__list">
                        <li class="user-menu__item">
                            <a href="#" class="user-menu__link"><span class="visually-hidden">Поиск</span>
                                <img src="../img/search.svg" alt="Поиск" class="user-menu__icon" width="16" height="16">
                            </a>    
                        </li>
                        <li class="user-menu__item">
                            <a href="#" class="user-menu__link"><span class="visually-hidden">Избранное</span>
                                <img src="../img/favorite.svg" alt="Избранное" class="user-menu__icon" width="19" height="16">
                            </a>    
                        </li>
                        <li class="user-menu__item">
                            <a href="#" class="user-menu__link"><span class="visually-hidden">Корзина</span>
                                <img src="../img/basket.svg" alt="Корзина" class="user-menu__icon" width="18" height="16">
                            </a>    
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header__promo">
                <ul class="social">
                    <li class="social__item">
                        <a href="#" class="social__link"><span class="visually-hidden">Инстаграм</span>
                            <img src="../img/instagram_icon.svg" alt="инстаграм" class="social__icon">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link"><span class="visually-hidden">Фейсбук</span>
                            <img src="../img/facebook_icon.svg" alt="фейсбук" class="social__icon">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" class="social__link"><span class="visually-hidden">Твиттер</span>
                            <img src="../img/twitter_icon.png" alt="твиттер" class="social__icon">
                        </a>
                    </li>
                </ul>
                <section class="promo">
                    <h2 class="title title--main">Весна/Лето 2019</h2>
                    <p class="text text--bold">Коллекция</p>
                    <p class="text promo__text">
                        Швейцарские часы в наличии в Москве<br>
                        и с доставкой по всему миру
                    </p>
                    <a href="catalog.html" class="btn">Смотреть каталог</a>
                </section>
                <section class="promo-watches">
                    <div class="ellipse-wrapper">
                        <div class="ellipse"></div>
                    </div>
                    <div class="promo-watches__item">
                        <p class="promo-watches__price price">22 000 <span class="visually-hidden">рублей</span>    </p>
                        <img src="../img/watch_main.png" alt="Часы RADO" class="promo-watches__img" height="768">
                        <p class="promo-watches__stats">28 мм диаметр</p>
                    </div>
                </section>
            </div>
        </header>
        <main class="main main--index">
            <h1 class="visually-hidden">Магазин часов Conquest</h1>
            <section class="popular-models">
                <h2 class="title">Популярные модели</h2>
                <a href="#" class="view-all-link">Смотреть все</a>
                <ul class="popular-models__list">
                    <li class="popular-models__item">
                        <div class="popular-models__stats">
                            <h3 class="popular-models__title">RADO</h3>
                            <span class="popular-models__price price">65 300</span>
                        </div>
                        <img src="../img/watch_1.png" alt="" class="popular-models__img" width="289" height="298">
                        <a href="#" class="popular-models__link">Подробнее</a>
                    </li>
                    <li class="popular-models__item">
                        <div class="popular-models__stats">
                            <h3 class="popular-models__title">RADO</h3>
                            <span class="popular-models__price price">65 300</span>
                        </div>
                        <img src="../img/watch_2.png" alt="" class="popular-models__img" width="470" height="472">
                        <a href="#" class="popular-models__link">Подробнее</a>
                    </li>
                    <li class="popular-models__item">
                        <div class="popular-models__stats">
                            <h3 class="popular-models__title">RADO</h3>
                            <span class="popular-models__price price">81 700</span>
                        </div>
                        <img src="../img/watch_3.png" alt="" class="popular-models__img" width="254" height="220">
                        <a href="#" class="popular-models__link">Подробнее</a>
                    </li>
                    <li class="popular-models__item">
                        <div class="popular-models__stats">
                            <h3 class="popular-models__title">RADO</h3>
                            <span class="popular-models__price price">72 700</span>
                        </div>
                        <img src="../img/watch_4.png" alt="" class="popular-models__img" width="225" height="226">
                        <a href="#" class="popular-models__link">Подробнее</a>
                    </li>
                </ul>
            </section>
            <section class="banner">
                <div class="banner__img-wrapper">
                    <img src="../img/photo_banner.jpg" alt="Фото часов" class="banner__img" width="521" height="414">
                </div>
                <div class="banner__content">
                    <h2 class="title banner__title">Подлинное качество</h2>
                    <p class="text banner__text">
                        Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.
                    </p>
                    <a href="catalog.html" class="btn btn--beige">Смотреть каталог</a>
                </div>
            </section>
            <section class="news">
                <div class="news__content">
                    <h2 class="news__title title">Следите за нашими новостями</h2>
                    <p class="text news__text">
                        Подписывайтесь на 
                        <b class="social__id">@conquest_watch</b> 
                         в соцсетях и узнавайте о новинках и акциях первыми.
                    </p>
                    <ul class="social">
                        <li class="social__item">
                            <a href="#" class="social__link"><span class="visually-hidden">Инстаграм</span>
                                <img src="../img/instagram_icon.svg" alt="инстаграм" class="social__icon">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link"><span class="visually-hidden">Фейсбук</span>
                                <img src="../img/facebook_icon.svg" alt="фейсбук" class="social__icon">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link"><span class="visually-hidden">Твиттер</span>
                                <img src="../img/twitter_icon.png" alt="твиттер" class="social__icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="news__imgs">
                    <div class="news__img-wrapper">
                        <img src="../img/photo_1.jpg" alt="Фото часов" class="news__img">
                    </div>
                    <div class="news__img-wrapper">
                        <img src="../img/photo_2.jpg" alt="Фото часов" class="news__img">
                    </div>
                    <div class="news__img-wrapper">
                        <img src="../img/photo_3.jpg" alt="Фото часов" class="news__img">
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer class="footer">
        <div class="footer-wrapper">
            <section class="contacts footer__block">
                <h3 class="visually-hidden">Контакты</h3>
                <ul class="contacts__list footer__list">
                    <li class="contacts__item footer__item">
                        <a href="#" class="logo">
                            <img src="../img/logo.svg" alt="Логотип" width="104" height="26">
                        </a>
                    </li>
                    <li class="contacts__item footer__item">
                        <a href="tel:84994504797" class="contacts__link footer__link">8 (499) 450-47-97</a>
                    </li>
                    <li class="contacts__item footer__item">
                        <a href="mailto:info@conquest.watch.ru" class="contacts__link footer__link">info@conquest.watch.ru</a>
                    </li>
                </ul>
            </section>
            <section class="about-company footer__block">
                <h3 class="about-company__title footer__title">О компании</h3>
                <ul class="about-company__list footer__list">
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Наши магазины</a>
                    </li>
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Вакансии</a>
                    </li>
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Сертификаты</a>
                    </li>
                    <li class="about-company__item footer__item">
                        <a href="#" class="about-company__link footer__link">Отзывы</a>
                    </li>
                </ul>
            </section>
            <section class="for-buyers footer__block">
                <h3 class="for-buyers__title footer__title">Покупателям</h3>
                <ul class="for-buyers__list footer__list">
                    <li class="for-buyers__item footer__item">
                        <a href="#" class="for-buyers__link footer__link">Каталог товаров</a>
                    </li>
                    <li class="for-buyers__item footer__item">
                        <a href="#" class="for-buyers__link footer__link">Как заказать?</a>
                    </li>
                    <li class="for-buyers__item footer__item">
                        <a href="#" class="for-buyers__link footer__link">FAQ</a>
                    </li>
                    <li class="for-buyers__item footer__item">
                        <a href="#" class="for-buyers__link footer__link">Корпоративным клиентам</a>
                    </li>
                </ul>
            </section>
            <section class="payment-and-delivery footer__block">
                <h3 class="payment-and-delivery__title footer__title">Оплата и доставка</h3>
                <ul class="payment-and-delivery__list footer__list">
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Способы оплаты</a>
                    </li>
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Время доставки</a>
                    </li>
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Гарантии и ремонт</a>
                    </li>
                    <li class="payment-and-delivery__item footer__item">
                        <a href="#" class="payment-and-delivery__link footer__link">Возврат и компенсация</a>
                    </li>
                </ul>
            </section>
        </div>
    </footer>
    <script src="../js/index.js"></script>
</body>
</html>